<div class = "signin">
    <div class="text-center" style="user-select: auto;">
        <form class="form-signin">
            <h2 class="text-center">Log in</h2>       
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"  onclick="location.href = '/bookapi'">Log in</button>
            </div>
            <div class="text-center">
                <label class="text-center"><input type="checkbox"> Remember me</label>
            </div>
            <p class="text-center"><a href="/register">Create an Account</a></p>        
        </form>
    </div>
</div>